.section_7 {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 20px;

  .active {
    text-decoration: underline;
    color: red;
  }
  .section_7_container {
    .text_app {
      font-size: 30px;
      font-family: sans-serif;
      padding-top: 30px;
    }

    .works_link {
      display: flex;
      justify-content: space-around;
      border-bottom: solid 2px black;

      p {
        cursor: pointer;
        padding-top: 30px;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 990px) {
    .section_7_container {
      .text_app {
        text-align: center;
      }
    }
  }
}
